
main{
.grid-container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:20px;
    
    grid-template-areas: "1"
                         "2"
                         "3"
                         "4"
                         "5"
                         "6";
  }
  .card {
    position: relative;
    width: 100%;
    &:hover{
      opacity: 1;
    }
  }
  .afbeelding {
    display: block;
    width: 100%;
  }
  .card__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $achtergrondkleur;
    &:hover{
      opacity: 1;
    }
  }
  .text {
    color:$tekstkleurmain;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

