$achtergrondkleurtekstboven:white;
$achtergrondkleurtekstonder:#686de0;
$tekstkleurheader:white;
$borderkleur:white;
$borderradius:10px;

$achtergrondkleur:blue;
$tekstkleurmain:black;

$kleuricon:white;
$achtergrondkleurtwitter:#00aced;
$achtergrondkleurfacebook:#3b5998;
$achtergrondkleurlinkedin:#007bb6;
$achtergrondkleurgithub:#333;
$achtergrondkleurblog:#e17b77;
$tekstkleurfooter:white;
